*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;




::-webkit-scrollbar{
    display: none;
}


/* 
.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 15px;
    transform: rotate(90deg);
    z-index: 1;
} */


